- name: Harden SSH configuration
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
  loop:
    - { regexp: '^#?PasswordAuthentication.*', line: 'PasswordAuthentication no' }
    - { regexp: '^#?PermitRootLogin.*', line: 'PermitRootLogin prohibit-password' }
    - { regexp: '^#?PubkeyAuthentication.*', line: 'PubkeyAuthentication yes' }

- name: Restart SSH
  systemd:
    name: sshd
    state: restarted
